.carrousel{
  display: flex;
  justify-content: space-between;

  div{
    width: calc(33.3333% - 20px);

    text-align: center;

  }

}

@media screen and (min-width: 500px) {


  .swiper-container {
    width: 500px;
    border: 3px solid var(--color-yelp);
  }



}


.swiper-slide{

background-color: var(--color-800);
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.swiper-slide h2{
height: 60px;
margin: auto;
display: flex;
  align-items: center;

}

.swiper-wrapper{


  width: 100%;


}



