
.liste-acteurs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.liste-acteurs .acteur{
  width: calc(20% - 30px);
}

body{

  background-color: black;

  color: white;
  border: 4px solid red;
}