






@media screen and (min-width: 790px) {

.liste-films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}


  article {
    flex-basis: 24%;
    padding: 20px;

    border: 1px black solid;

    margin-bottom: 20px;

  }

}


article h2 {


  text-align: center;
  height: 40px;
  font-size: 1.56rem;


}

article p{


  text-align: center;
  font-size: 1.1rem;

}




 .liste-films{



  text-align: center;


}


.liste-films a{


  color: var(--color-800);
  text-decoration: none;

}

a:hover  {


  color: var(--color-yelp);

}































