// LE BODY PERMET D'INITIALISER LES PROPRIÉTÉS GÉNÉRALES DE LA PAGE. LES ÉLÉMENTS DE LA PAGE VONT HÉRITÉS DES PROPRIÉTÉS INSCRITE DANS BODY

body{
  font-family: var(--ff-normal);
  font-size: var(--fz-normal);

  line-height: var(--lh-normal);


  color: var(--color-white);

  background: var(--color-black);
}
































































